{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Panier</h1>
		{% if products is empty %}
			<div class="d-flex justify-content-center">
				<span>Votre panier est vide !
					<br/>
					Ajoutez des
					<a href="{{ path('product.index') }}">
						produits
					</a>
				</span>
			</div>
		{% else %}
			<div class="row">
				<table class="table table-striped table-bordered col-12">
					<thead>
						<tr>
							<th>Nom</th>
							<th></th>
							<th>Quantité</th>
							<th>Prix</th>
						</tr>
					</thead>
					<tbody>
						{% for product in products %}
							<tr>
								<td>
									<a href="{{ path('product.show', {id : product.id}) }}">{{ product.name }}</a>
								</td>
								<td>
									<form action="{{ path('panier.delete',{id: product.id}) }}" method="POST" onsubmit="return confirm('Etes-vous sûr de retirer ce produit du panier ?')">
										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
										<button class="btn btn-danger">Retirer</button>
									</form>
								</td>
								<td>{{ product.qte}}</td>
								<td>{{ product.price}}€</td>
							</tr>
						{% endfor %}
						<tr>
							<td colspan="3">
								<strong>TOTAL</strong>
							</td>
							<td>
								<strong>{{ total }}€</strong>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					{{ form_start(commandForm) }}
					<div class="form-group">
						<label for="command_email">Votre adresse mail
						</label>
						{{ form_widget(commandForm.email) }}
						<small class="text-danger">
							{{ form_errors(commandForm.email) }}
						</small>
					</div>
					<div class="form-group">
						<button class="btn btn-primary" type="submit">Valider le panier</button>
					</div>
					{{ form_end(commandForm) }}
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
{% block javascript %}
	<script>
		document.getElementById("menu").children[3].classList.add("active");
	</script>
{% endblock %}
