{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Les 5 produits les plus récents</h2>
                <table class="table table-striped table-bordered col-12">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Date</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for mostRecentProduct in mostRecentProducts %}
                            <tr>
                                <td><a href="{{ path('product.show', {id : mostRecentProduct.id}) }}">{{ mostRecentProduct.name }}</a></td>
                                <td>{{ mostRecentProduct.createdAt|date("d/m/Y") }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <h2>Les 5 produits les moins chers</h2>
                <table class="table table-striped table-bordered col-12">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for cheapestProduct in cheapestProducts %}
                            <tr>
                                <td><a href="{{ path('product.show', {id : cheapestProduct.id}) }}">{{ cheapestProduct.name }}</a></td>
                                <td>{{ cheapestProduct.price }}€</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
	<script>
		document.getElementById("menu").children[0].classList.add("active");
	</script>
{% endblock %}
