<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Projet-Symfony</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="menu">
    <li class="nav-item">
        <a class="nav-link" href="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product">Produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/command">Commandes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/panier">Panier</a>
      </li>
    </ul>
  </div>
</nav>