{% extends 'base.html.twig' %}

{% block title %}Liste des Commandes{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des Commandes</h1>
    {% if commands is empty %}
			<div class="d-flex justify-content-center">
				<span>Vous avez passé aucune commandes
					<br/>
                    Validez votre
                    <a href="{{ path('panier.index') }}">
						panier
					</a>
                    ou ajoutez des
					<a href="{{ path('product.index') }}">
						produits
					</a>
				</span>
			</div>
		{% else %}
        <div class="row">
            <table class="table table-striped table-bordered col-12">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for command in commands %}
                        <tr>
                            <td><a href="{{ path('command.show', {id : command.id}) }}">{{ command.id }}</a></td>
                            <td><a href="{{ path('command.show', {id : command.id}) }}">{{ command.email }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
</div>
{% endblock %}
{% block javascript %}
<script>
    document.getElementById("menu").children[2].classList.add("active");
</script>
{% endblock %}
