{% extends 'base.html.twig' %}

{% block title %}Commande N°{{ command.id }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Commande N°{{ command.id }}</h1>
		<div class="row">
			<table class="table table-striped table-bordered col-12">
				<thead>
					<tr>
						<th>Id</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ command.id }}</td>
						<td>{{ command.email }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h3>Produits ({{ command.getNbProducts() }})</h3>
		<div class="row">
			<table class="table table-striped table-bordered col-12">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prix</th>
					</tr>
				</thead>
				<tbody>
					{% for product in command.products %}
						<tr>
							<td>
								<a href="{{ path('product.show', {id : product.id}) }}">{{ product.name }}</a>
							</td>
							<td>{{ product.price }}€</td>
						</tr>
					{% endfor %}
					<tr>
						<td>
							<strong>TOTAL ({{ command.getNbProducts() }} produits)</strong>
						</td>
						<td>
							<strong>{{ command.getTotal() }}€</strong>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script>
		document.getElementById("menu").children[2].classList.add("active");
	</script>
{% endblock %}
