{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des Produits</h1>
        <div class="row">
            <table class="table table-striped table-bordered col-12">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Description</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td><a href="{{ path('product.show', {id : product.id}) }}">{{ product.name }}</a></td>
                            <td>{{ product.price }}€</td>
                            <td>{{ product.description|slice(1, 300) }}  <a href="{{ path('product.show', {id : product.id}) }}">... voir plus</a></td>
                            <td>{{ product.createdAt|date("d/m/Y") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    document.getElementById("menu").children[1].classList.add("active");
</script>
{% endblock %}
