{% extends 'base.html.twig' %}

{% block title %}Produit {{ product.id }}{% endblock %}

{% block body %}
	<div class="container">
		<h1 data-id="{{ product.id }}">{{ product.name }}</h1>
		<div class="row">
			<table class="table table-striped table-bordered col-12">
				<thead>
					<tr>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Description</th>
                        <th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ product.name }}</td>
                        <td>{{ product.price }}€</td>
						<td>{{ product.description }}</td>
						<td>{{ product.createdAt|date("d/m/Y") }}</td>
					</tr>
				</tbody>
			</table>
			<a class="btn btn-danger" href="{{ path('product.index') }}" role="button">Retour</a>
			<a id="addPanierBtn" style="margin-left:15px" href="#" class="btn btn-primary" role="button">Ajouter au panier</a>
		</div>
	</div>
{% endblock %}
{% block javascript %}
<script>
    document.getElementById("menu").children[1].classList.add("active");

	const id = document.querySelector("h1").getAttribute("data-id");
	const addPanier = document.querySelector("#addPanierBtn");
	const url = `/panier/add/${id}`;

	addPanier.addEventListener("click", () => {
		addPanier.disabled = true;
		fetch(url)
        .then(res => res.json())
        .then(res => {
			window.location.reload();
            addPanier.disabled = false;
        });
	});

</script>
{% endblock %}
